{% extends "layout.html" %}

{% block content %}
    {% for post in posts %}
        <article class="post-card">
            <div class="post-header">
                <img src="{{url_for('static', filename = 'profile_pics/' + post.author.image_file)}}" class="rounded-circle article-img" alt="">
                <div class="post-metadata">
                    <span class="author">{{post.author.username}}</span>
                    <span class="date">{{post.date_posted.strftime('%Y-%m-%d')}}</span>
                </div>
            </div>
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-content">{{ post.content }}</p>
        </article>
{% endfor %}
{% endblock %}